.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
  justify-content: center;
  justify-items: center;
  margin: 0.5rem auto;
  text-align: center;
}

.list {
  display: grid;
}

.span-name {
  letter-spacing: 4px;
  margin: 0.5rem auto;
  font-size: 1.2rem;
}

.image {
  width: 100%;
  height: 400px;
}

.img {
  width: 90%;
  height: 90%;
  outline: 1px solid lightgrey;
  outline-offset: 2px;
  padding: 0.1rem;
}

.btn {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  width: 90%;
  border: 3px double lightgrey;
  letter-spacing: 3px;
  padding: 0.2rem;
  cursor: pointer;
  background: transparent;
  transition: all 1s ease-in;
  outline: lightgrey;
}

.btn:hover {
  transform: translateY(-1rem);
}

.btn span {
  margin-right: 0.1rem;
}

.lips {
  width: 8%;
  transform: translateY(0.3rem);
}
