header {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 1rem auto;
  text-align: center;
}

.title {
  font-size: 3rem;
  letter-spacing: 8px;
}

.header-img {
  width: 40%;
}

.icon {
  width: 15%;
}
