@import url("https://fonts.googleapis.com/css2?family=Dynalight&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Dynalight", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}
